<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Trabajo Practico 3</title>
		<link rel="stylesheet" 	href="../static/css/estilos.css">
	</head>
	<body>
	<nav class="navbar">	
		<div class="menu">
			<ul>
				<li><a class="enlace" href="form-cliente.html">FORMULARIO</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start">SEMANA 1</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start">SEMANA 2</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start">SEMANA 3</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=4#tabs-tree-start">SEMANA 4 y 5</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=5#tabs-tree-start">SEMANA 6</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=6#tabs-tree-start">SEMANA 7</a></li>
			</ul>
		</div>
	</nav>
	<header>
		<h1 id="header">PROGRAMACION VISUAL</h1>
	</header>
		<main class="cuerpo">
			<section class="seccion">
                <h2 class="subtitulo_1">Semana 1</h2>
				<h3	class="subtitulo_2">En esta seccion se describira un poco de lo que se vio en la primera semana de programacion visual</h3>
                <p class="parrafo">Algunos de los conceptos que se vieron fueron:</p>
				<ul class="lista">
                    <li>Introducion a java</li>
                    <li>Programacion en java</li>
                    <li>Instalar el Spring tool suit</li>
                </ul>
				<table class="tabla">
                    <tr>
                        <td>La plataforma java</td>
                        <td>El lenguaje de programacion de java</td>
                        <td>Caracterisiticas de java</td>
                    </tr>
                </table>
            </section>
			<section class="seccion">
				<h2 class="subtitulo_1">Semana 2</h2>
				<h3	class="subtitulo_2">En esta seccion se describira un poco de lo que se vio en la segunda semana</h3>
				<p class="parrafo">Algunos de los conceptos que se vieron fueron:</p>
				<ul class="lista">
					<li>Sobrecarga - Excepciones</li>
					<li>Conversión de tipos de datos</li>
					<li>Fechas en Java</li>
				</ul>
				<table class="tabla">
					<tr>
						<th>Sobrecarga - Excepciones</th>
						<th>Conversion de tipos de datos</th>
						<th>Fechas en Java</th>
					</tr>
					<tr>
						<td>Tratar errores</td>
						<td>Tipos de datos</td>
						<td>Fechas en java</td>
					</tr>
					
					<tr>
						<td>Excepciones</td>
						<td>Wrapper</td>
						<td>Calendar</td>
					</tr>
				</table>
			</section>
			
			<section class="seccion">
				<h2 class="subtitulo_1">Semana 3</h2>
				<h3	class="subtitulo_2">En esta seccion se describira un poco de lo que se vio en la tercera semana</h3>
				<p class="parrafo">Algunos de los temas fueron: </p>
				<ul class="lista">
					<li>Matrices</li>
					<li>Interfaces</li>
					<li>Arraylist</li>					
				</ul>
				<table class="tabla">
					<tr>
						<th>Matrices</th>
						<th>Interfaces</th>
						<th>Arraylist</th>
					</tr>
					
					<tr>
						<td>Agrupar datos</td>
						
						<td>Abstraccion</td>
						
						<td>Dinamicidad</td>
					</tr>
				</table>
			</section>
			
			<section class="seccion">
				<h2 class="subtitulo_1">Semana 4</h2>
				<h3	class="subtitulo_2">En esta seccion se describira un poco de lo que se vio en la cuarta semana</h3>	
				<p class="parrafo">Algunos de los temas fueron: </p>
				<ul class="lista">
					<li>Interfaces funcionales</li>
					<li>Enumerados</li>
				</ul>
				<table class="tabla">
					<tr>
						<th>Interfaces funcionales</th>
						<th>Enumerados</th>
					</tr>
					
					<tr>
						<td>Unico metodo</td>
						<td>Conjunto de valores</td>
					</tr>
				</table>
			</section>
		</main>
		
		<aside class="contenido_adicional">
			<a class="enlace_adicional" href="https://docs.google.com/spreadsheets/d/1Tby5h4rLHXyPjPzEhfdCaqYaQwemx5e_/edit#gid=855484716">REGISTRO SEGUIMIENTO 2024</a>
			<br/>
			<img class="imagen_adicional" src="../static/img.webp">
		</aside>
	</body>
	<footer>
		Universidad Nacional de Jujuy - UNJu
		Subsecretaría de EaD - Coordinación UNJu Virtual
		Avda. Bolivia N° 1685 B° Los Huaicos
		San Salvador de Jujuy, Jujuy - Argentina
		 WhatsApp: 3884708223
		 Correo oficial: virtual@unju.edu.ar
		 Correo secundario: cursos@unju.edu.ar
	</footer>
</html>